@using Timesheets.Web.Models
@using Timesheets.Web.Models.Timesheet.Organisms
@model IEnumerable<Timesheets.Web.Models.Timesheet.Organisms.ViewTimesheetModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="list-group">

    <partial name="Molecules/TimesheetListSearch" />

    <partial name="Molecules/TimesheetListAdd" />   

    @foreach (ViewTimesheetModel ts in Model)
    {
        <partial name="Molecules/TimesheetListItem" model="@ts" />
    }
</div>