@using Timesheets.Web.Models
@model IEnumerable<TimesheetViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "My Timesheets";
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div id="timesheet-list">
                <partial name="Organisms/ListTimesheets" model="Model" />
            </div>
        </div>
        <div class="col-9">
            <div id="timesheet-detail"></div>
        </div>
    </div>
</div>