@using Microsoft.EntityFrameworkCore.Infrastructure
@using Timesheets.Web.Models.Timesheet.Organisms
@model IEnumerable<ViewTimesheetModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "My Timesheets";
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div id="timesheet-list">
                <partial name="Organisms/ListTimesheets" model="Model" />
            </div>
        </div>
        <div class="col-9">
            <div id="timesheet-detail">
                @* @if (Model.IsNew) 
                @* { 
                @* <partial name="Organisms/NewTimesheet" /> 
                @* } 
                @* @else if (Model.SelectedTimesheet.ID > 0) 
                @* { 
                @* <partial name="Organisms/ViewTimesheet" model="Model.SelectedTimesheet" /> 
                @* } *@
            </div>
        </div>
    </div>
</div>