@using Timesheets.Web.Models;
@model Timesheets.Web.Models.Timesheet.Organisms.ViewTimesheetModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>View Timesheet @Model.ID</h2>

@{
    switch(CheckUserAccess())
    {
        case UserAccess.None:
            <partial name="Molecules/TimesheetDetailNoAccess" model="@Model" />
            break;
        case UserAccess.CanRead:
            <partial name="Molecules/TimesheetDetailViewer" model="@Model" />
            break;
        case UserAccess.CanWrite:
            <partial name="Molecules/TimesheetDetailEditor" model="@Model" />
            break;
    }
}

@functions
{
    private UserAccess CheckUserAccess()
    {
        return UserAccess.CanWrite;
    }

    private enum UserAccess
    {
        None,
        CanRead,
        CanWrite
    }
}