<div class="container">
    <div class="row p-4">
        <div class="col-3"></div>
        <div class="col-6">
            <p class="text-secondary text-center">© @DateTime.Now.Year - Timesheets</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>