<html lang="en-gb">
<head>
    <title>Timesheets</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Hello World!</h1>
    
    <button hx-get="/timesheets" hx-target="#content">List Timesheets</button>
    <button hx-get="/timesheet" hx-target="#content">Add Timesheet</button>
    <button hx-get="/timesheet/1003" hx-target="#content">View Timesheet 1003</button>
    <button hx-get="/timesheet/1003/edit" hx-target="#content">Edit Timesheet 1003</button>
    
    <div id="content"></div>
</body>
</html>