@using Timesheets.Web.Models
@model IEnumerable<TimesheetViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="list-group">

    <!-- search timesheets molecule -->
    <div class="list-group-item">
        <div class="input-group">
            <input type="text" class="form-control" />
            <button class="btn btn-secondary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <!-- add new timesheet molecule-->
    <div class="list-group-item">
        <div class="d-grid">
            <button class="btn btn-primary" hx-get="/timesheet" hx-target="#content2">Add Timesheet</button>
        </div>
    </div>     

    @foreach (TimesheetViewModel ts in Model)
    {
        <partial name="Molecules/_TimesheetListItem" model="@ts" />
    }
</div>