@using Timesheets.Web.Models
@model IEnumerable<TimesheetViewModel>

<div class="list-group">
    <button class="btn btn-secondary" hx-get="/timesheet" hx-target="#content2">Add Timesheet</button>
    @{
        foreach (TimesheetViewModel ts in Model)
        {
            <a class="list-group-item" hx-get="/timesheet/@ts.ID" hx-target="#content2" href="/timesheet/@ts.ID">
                <div>
                    <h5 class="mb-1">@ts.Name</h5>
                </div>
                <p class="mb-1">@ts.PeriodStarts.ToLongDateString() to @ts.PeriodEnds.ToLongDateString()</p>
            </a>
        }
    }
</div>