@using Timesheets.Web.Models.Shared
@model FooterViewModel

<div class="container">
    <div class="row p-4">
        <div class="col-3"></div>
        <div class="col-6">
            <p class="text-secondary text-center">
                <span>© @Model.CurrentYear Timesheets</span> - 
                <span>Build @Model.BuildNumber</span>
            </p>
        </div>
        <div class="col-3"></div>
    </div>
</div>