<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Timesheets</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" hx-get="/timesheets" hx-target="#site-body">My Timesheets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" hx-get="/settings" hx-target="#site-body">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>