
<div class="list-group-item">
    <div class="input-group">
        <input type="text" class="form-control" />
        <button class="btn btn-secondary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>