@using Timesheets.Web.Models
@model TimesheetViewModel

@{
    <div class="alert alert-warning" role="alert">
        <h4>Work In Progress!</h4>
        You can view, but not edit this timesheet. However the UI is not implemented yet!
    </div>
}