@using Timesheets.Web.Models
@model TimesheetViewModel

@{
    <div class="alert alert-danger" role="alert">
        <h4>Access Denied</h4>
        You do not have access to view this timesheet
    </div>
}